<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local DevExpress packages folder for Docker build -->
    <add key="local-devexpress" value="./nuget-packages" />
    <!-- Standard NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!-- Map DevExpress packages to local source -->
    <packageSource key="local-devexpress">
      <package pattern="DevExpress.*" />
    </packageSource>
    <!-- All other packages from NuGet.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="disabled" value="False" />
    <add key="format" value="0" />
  </packageManagement>
</configuration>